
$spacer: 20px;
$c-menu: #F03000;
$c-body: #FFFFFF;
$c-items: #F0F0F0;
$c-text: #000000;
$c-dates: #888888;
$c-footer:#444444;
$font-base: 'Montserrat', sans-serif;
$font-second: 'Open Sans', sans-serif;
$f-size-base: 16px;
$f-size-h-base: 18px;
$f-size-h-middle: 20px;
$f-size-h-big: 28px;


html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


//základní nastavení
.body {
  margin: 0;
	padding: 0;
  background-color: $c-items;
  font-family: $font-base;
	font-size: $f-size-base;
}

.body__box {
  max-width: 480px;
  margin: 0 auto;
  padding: $spacer;
  background-color: $c-body;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 960px) {
    max-width: 1400px;
    padding: $spacer 120px;
  }
}

.block {
  padding-top: $spacer;
  padding-bottom: $spacer;
}


//hlavička
.header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 960px) {
    justify-content: space-between;
  }
 
  &__logo {
    padding: $spacer;
    text-align: center;

    @media screen and (min-width: 768px) {
      flex-basis: 40%;
    }

    @media screen and (min-width: 960px) {
      flex-basis: 20%;
    }

  }

  &__menu {
    padding: 0;
    margin-top: $spacer;
    margin-bottom: $spacer;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-basis: 60%;
    }

    @media screen and (min-width: 960px) {
      flex-basis: 80%;
      justify-content: flex-end;
    }

  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__link {
    flex-basis: 33.333%;
    padding: $spacer;
    text-decoration: none;
    color: $c-menu;
    font-size: $f-size-h-base;

    &:hover,
    &:focus {
      background-color: $c-menu;
      color: $c-body;
    }
  }
}

// bannery s nabídkama - hlavní + last minute
.block__offer,
.block__last {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media screen and (min-width: 960px) {
    grid-template-rows: 180px 180px;
    grid-template-columns: 2fr 1fr;
  }
}


.first {
  @media screen and (min-width: 768px) {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.second {
  @media screen and (min-width: 768px) {
    grid-column: 1 / 2;
  }

  @media screen and (min-width: 960px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.third {
  @media screen and (min-width: 768px) {
    grid-column: 2 / 3;
  }

  @media screen and (min-width: 960px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.block__last {
  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 180px 180px;
  }
}

.block__last__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.block__last .first {
  @media screen and (min-width: 960px) {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }
}

.block__last .second {
  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.block__last .third {
  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}



.offer,
.last {
  
  position: relative;

    .item__title,
    .item__text,
    .item__price,
    .item__title-top {
      position: absolute;
      color: white;
    }

    .item__title,
    .item__text {
      left: 20px;
      bottom: 10px;
    }

    .item__title {
      font-size: $f-size-h-middle;
      line-height: 1.22;
    }

    .item__title-top {
      left: 20px;
      bottom: 40px;
      font-size: $f-size-h-big;
    }
    
    .item__price {
      left: 20px;
      top: 20px;
      margin:0;
      padding: 10px;
      background-color: $c-menu;
      font-size: $f-size-h-base;
    }

    .item__pic {
      width: 100%;
      height: 150px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        height: 180px;
      }
    }

}
.first .item__pic {
    height: 240px;

  @media screen and (min-width: 768px) {
    height: 380px;
  }
}

.last {
  .item__title-top {
      bottom: 65px;
      line-height: 1.34;
  }
}



//sekce služby a novinky

.services,
.news {
    background-color: $c-items;
    padding: $spacer;
    margin-bottom: 10px;
    font-family: $font-second;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }

    .item__title {
      color: $c-menu;
      margin: 0;
      font-size: $f-size-h-base;
    }

    .item__text {
      margin-bottom: 0;
    }

    .item__date {
      color: $c-dates;
      margin: 0 0 10px 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
}

//sekce služby

.block__services {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      grid-column: 50%;
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
    @media screen and (min-width: 960px) {
      grid-column: 25%;
    }

    .item__pic {
      flex-basis: 20%;
      height: 40px;
    }

    .item__box {
      flex-basis: 80%;
    }

    .item__title {
      @media screen and (min-width: 768px) {
        margin-top: 20px;
      }
    }
}

//sekce novinky

.block__news {
  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }
}

.block__news .first {
  @media screen and (min-width: 960px) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.block__news .second {
  @media screen and (min-width: 960px) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
.block__news .third {
  @media screen and (min-width: 960px) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}



.news {
  .item__title {
    font-size: $f-size-base;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

.block__last__title,
.block__news__title {
  margin-top: 0;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.block__news__title {
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
  }
}

//patička
.footer {
  background-color: $c-footer;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;

  &__text {
    margin:0;
  }
}